H1 Welcome to Mason-Rice Elemantary School

hr

#rightSideBar
    span(id="contactUs"): b Contact Us
    a(href="web.whatsapp.com")
        img(src="whatsapp.png")
    a(href="www.facebook.com")
        img(src="facebook.png")
    a(href="www.instagram.com")
        img(src="instagram.png")
    a(href="www.twitter.com")
        img(src="twitter.png")
    a(href="www.telegram.com")
        img(src="telegram.png")

#notification
    span(id="notice"): b NOTICE
    ul
        li 
            a(href="#") Admission Open
        li 
            a(href="#") Exam's shedule available
        li 
            a(href="#") New class routine available
        li 
            a(href="#") new books available

